body {
  font-family: 'Roboto', Verdana, sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ------------------HAEDER---------------- */

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(16 / 12);
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-header {
  color: #000;
}

.nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.02em;
  color: #757575;
}
.header-E-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.02em;
  color: #757575;
}
.header-tel:hover,
.header-E-mail:focus {
  color: #2196f3;
}
/* ------------------HAEDER---------------- */

/* ------------------hero---------------- */

.hero-list {
  background-color: #2f303a;
}
.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.header-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(16 / 12);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background-color: #2196f3;
}

/* ------------------hero---------------- */

/* ------------------featore ---------------- */

.featore-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.featore-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}

/* ------------------featore ---------------- */

/* ------------------about ---------------- */
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/* ------------------about ---------------- */

/* ------------------team ---------------- */

.team-nav {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.team-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/* ------------------team ---------------- */

/* ------------------footer---------------- */

.footer-list {
  background-color: #2f303a;
}

.footer-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-footer {
  color: #ffffff;
}

.footer-gps {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.footer-E-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.02em;
  color: #757575;
}
.footer-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.02em;
  color: #757575;
}
