:root {
  --link-focus-color: #2196f3;
  --text-paragraf-color: #757575;
  --text-fon-white-color: #ffffff;
  --text-title-color: #000;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: #ffffff;
  color: #212121;
  letter-spacing: 00.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ------------------HAEDER---------------- */

.logo {
  font-family: 'Raleway';

  font-weight: 700;
  font-size: 26px;
  line-height: calc(16 / 12);

  color: var(--link-focus-color);
}

.logo-header {
  color: var(--text-title-color);
}

.nav-list {
  font-weight: 500;

  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--link-focus-color);
}
.nav-item {
  font-weight: 500;

  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--text-title-color);
}
.nav-link {
  font-weight: 500;

  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--text-title-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--link-focus-color);
}
.header-tel {
  font-weight: 500;

  line-height: calc(24 / 14);
  letter-spacing: 0.02em;
  color: var(--text-paragraf-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--link-focus-color);
}
.header-E-mail {
  font-weight: 500;

  line-height: calc(24 / 14);
  letter-spacing: 0.02em;
  color: var(--text-paragraf-color);
}
.header-E-mail:hover,
.header-E-mail:focus {
  color: var(--link-focus-color);
}
/* ------------------HAEDER---------------- */

/* ------------------hero---------------- */

.hero-list {
  background-color: #2f303a;
}
.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-fon-white-color);
}
.header-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 12);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-fon-white-color);
  cursor: pointer;
  background-color: var(--link-focus-color);
}

/* ------------------hero---------------- */

/* ------------------featore ---------------- */

.featore-title {
  line-height: calc(16 / 14);

  text-transform: uppercase;

  color: var(--text-title-color);
}
.featore-text {
  line-height: calc(24 / 14);

  color: var(--text-paragraf-color);
}

/* ------------------featore ---------------- */

/* ------------------about ---------------- */
.about-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;

  color: var(--text-title-color);
}
/* ------------------about ---------------- */

/* ------------------team ---------------- */

.team-nav {
  font-style: normal;

  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;

  color: var(--text-title-color);
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;

  color: var(--text-title-color);
}
.team-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;

  color: var(--text-paragraf-color);
}
/* ------------------team ---------------- */

/* ------------------footer---------------- */

.footer-list {
  background-color: #2f303a;
}

.footer-logo {
  font-family: 'Raleway';
  font-style: normal;

  font-size: 26px;
  line-height: 31px;

  color: var(--link-focus-color);
}

.logo-footer {
  color: var(--text-fon-white-color);
}

.footer-gps {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;

  line-height: 24px;

  color: var(--text-fon-white-color);
}
.footer-gps:hover,
.footer-gps:focus {
  color: var(--link-focus-color);
}
.footer-E-mail {
  font-style: normal;
  font-weight: 500;

  line-height: calc(24 / 14);
  letter-spacing: 0.02em;
  color: var(--text-paragraf-color);
}
.footer-E-mail:hover,
.footer-E-mail:focus {
  color: var(--link-focus-color);
}

.footer-tel {
  font-style: normal;
  font-weight: 500;

  line-height: calc(24 / 14);
  letter-spacing: 0.02em;
  color: var(--text-paragraf-color);
}
.footer-tel:hover,
.footer-tel:focus {
  color: var(--link-focus-color);
}
/* ------------------footer---------------- */

/* ------------------portfolio css---------------- */

body {
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/* ------------------HAEDER---------------- */
.logo {
  font-family: 'Raleway';

  font-size: 26px;
  line-height: calc(16 / 12);

  color: var(--link-focus-color);
}

.logo-header {
  color: var(--text-title-color);
}

.nav-list {
  font-weight: 500;

  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--link-focus-color);
}
.nav-item {
  font-weight: 500;

  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav-link {
  font-weight: 500;

  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--text-title-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--link-focus-color);
}
.contact-tel {
  font-weight: 500;

  line-height: calc(24 / 14);
  letter-spacing: 0.02em;
  color: var(--text-paragraf-color);
}
.contact-tel:hover,
.contact-tel:focus {
  color: var(--link-focus-color);
}
.header-E-mail {
  font-weight: 500;

  line-height: calc(24 / 14);
  letter-spacing: 0.02em;
  color: var(--text-paragraf-color);
}
.contact-E-mail:hover,
.contact-E-mail:focus {
  color: var(--link-focus-color);
}
/* ------------------HAEDER---------------- */

/* ------------------portfolio-hero---------------- */

.portfolio-btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;

  color: var(--text-title-color);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--text-fon-white-color);
  border: transparent;
  background: var(--link-focus-color);
  cursor: pointer;
}

/* ------------------progecr---------------- */

.project-title {
  font-style: normal;

  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--text-title-color);
}
.project-teax {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--text-paragraf-color);
}
/* ------------------progecr---------------- */

/* ------------------footer---------------- */
.footer-list {
  background-color: #2f303a;
}

.footer-logo {
  font-family: 'Raleway';
  font-style: normal;

  font-size: 26px;
  line-height: 31px;

  color: var(--link-focus-color);
}

.logo-footer {
  color: var(--text-fon-white-color);
}

.footer-gps {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;

  line-height: 24px;

  color: var(--text-fon-white-color);
}
.footer-gps:hover,
.footer-gps:focus {
  color: var(--link-focus-color);
}
.footer-E-mail {
  font-style: normal;
  font-weight: 500;

  line-height: calc(24 / 14);
  letter-spacing: 0.02em;
  color: var(--text-paragraf-color);
}
.footer-E-mail:hover,
.footer-E-mail:focus {
  color: var(--link-focus-color);
}

.footer-tel {
  font-style: normal;
  font-weight: 500;

  line-height: calc(24 / 14);
  letter-spacing: 0.02em;
  color: var(--text-paragraf-color);
}
.footer-tel:hover,
.footer-tel:focus {
  color: var(--link-focus-color);
}
/* ------------------footer---------------- */
